* {
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    background: #eff2f9;;
}

#home {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background: white;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 10px 41px -17px rgba(84, 88, 247, 1);
}

.box .background-image {
    background: url("https://res.cloudinary.com/dk-find-out/image/upload/q_80,w_1920,f_auto/A-Alamy-BXWK5E_vvmkuf.jpg");
    background-position: center bottom;
    background-size: cover;
    background-repeat: none;
    height: 100px;
}

.box .content-area {
    padding: 20px;
}

.box .content-area .user-image {
    height: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box .content-area .user-image .circle {
    background: url("https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
    background-position: center center;
    background-size: cover;
    background-repeat: none;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    top: -75px;
    box-shadow: 0 0 0 41px -17px rgba(84, 88, 247, 1);
}






/* =========================
for debugging
========================= */
.debug {
    border: 1px solid red;
}


 /* TODO:
    Start second video 3:15
    Comment all the code and label what is does */
