* {
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    background: #eff2f9;;
}

#home {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background: white;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 10px 41px -17px rgba(84, 88, 247, 1);
}

.box .background-image {
    background: url("https://res.cloudinary.com/dk-find-out/image/upload/q_80,w_1920,f_auto/A-Alamy-BXWK5E_vvmkuf.jpg");
    background-position: center bottom;
    background-size: cover;
    background-repeat: none;
    height: 100px;
}

.box .content-area {
    padding: 20px;
}

.box .content-area .user-image {
    height: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box .content-area .user-image .circle {
    background: url("https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
    background-position: center center;
    background-size: cover;
    background-repeat: none;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    top: -75px;
    box-shadow: 0 0 0 41px -17px rgba(84, 88, 247, 1);
}

.box .content-area .info-section .name {
    font-size: 2rem;
    text-align: center;
}

.box .content-area .info-section .position {
    font-size: .8rem;
    font-family: sans-serif;
    color: grey;
    text-align: center;
    margin-bottom: 20px;
}

.box .content-area .contact-section {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.box .content-area .contact-section #follow-button {
    font-family: sans-serif;
    font-size: .9rem;
    background: #5458f7;
    border: 1px solid #ffffff;
    padding: 10px 40px;
    color: #ffffff;
    border-radius: 5px;
    margin-right: 20px;
    cursor: pointer;
}

.box .content-area .contact-section .email-button {
    font-family: sans-serif;
    font-size: .9rem;
    background: white;
    border: 1px solid #f2f2f2;
    padding: 10px 30px;
    color: #5458f7;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.box .content-area .contact-section .email-button .fa-paper-plane {
    margin-right: 10px;
}




/* =========================
for debugging
========================= */
.debug {
    border: 1px solid red;
}


 /* TODO:
    Start 3rd video
    Comment all the code and label what is does */
